<!-- Lista över existerande kanaler -->
<h3>Kanaler</h3>
<ul>
  <% channels.forEach(channel => { %> 
    <!-- Eftersom vi får en array med objekt från databasen, loopar vi igenom arrayen och skriver ut channel_name från varje objekt -->
  <a href="/channels/<%= channel.channel_name %>">
    <li><%= channel.channel_name %></li>
  </a>
  <% }) %>
</ul>

<!-- Form för att skapa en ny kanal -->
<h3>Skapa ny kanal</h3>
<form action="/channels" method="post">
  Namn:
  <input name="newChannel" /><br><br>
  <input type="submit" value="Skapa" />
</form>
<br>
<p id="name">Inloggad som: <%= name %></p>
