<% if(typeof image == 'undefined') { image = ''} %>
<h1><%= name %>'s profil</h1>

<img src="<%= image %>" height="200px">
<form
action="/users/profile"
method="post"
enctype="multipart/form-data"
>
Ladda upp ny profilbild
<input type="file" name="profile_pic" />
<input type="submit" value="Save" />
<br>
<a href="/users/logout"> Log out</a>
</form>
